<% if notice.present? %>
  <p class="<%= flash_message_classes(:notice) %>">
    <%= notice %>
  </p>
<% end %>

<% if alert.present? %>
  <p class="<%= flash_message_classes(:alert) %>">
    <%= alert %>
  </p>
<% end %>
